<ion-header>
  <ion-toolbar>
      <label [routerLink]="['/registrarse']">cerrar sesión</label>
  </ion-toolbar>
  </ion-header>

<ion-content>
  <div class="marcauocho">
    <img src="../../assets/images/u8ok.png" />
    <ion-icon id="ch" name="checkmark-circle" color="success"></ion-icon>
    <ion-icon name="checkmark-circle" color="success"></ion-icon>
  </div>
  <div class="tania">
    <img src="../../assets/images/logo2_web_tania.png" /> <br>
    <img src="../../assets/images/Tania.png" />
    <ion-icon id="flecha" name="arrow-dropdown-circle"></ion-icon>
  </div>
  <br>
  <div class="propuestas">
    <ion-list>
      <ion-list-header>
        <img src="../../assets/images/propuestas.png" /> <br>
      </ion-list-header>
      <ion-item>
        <ion-avatar slot="start">
          <img src="./avatar-finn.png">
        </ion-avatar>
        <p class="prop">
          Velaremos para que más familias caleñas sean beneficiarias de los subsidios de mejoramiento y adquisición de
          vivienda.
        </p>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="./avatar-finn.png">
        </ion-avatar>


        <p class="prop">
          Buscaremos que más familias caleñas tengan la propiedad real de sus predios.
        </p>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="./avatar-finn.png">
        </ion-avatar>
        <p class="prop">
          Buscaremos frenar los incrementos injustificados en el Impuesto Predial que se cobra a los ciudadanos.
        </p>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="./avatar-finn.png">
        </ion-avatar>
        <p class="prop">
          Apoyaremos losy del deporte en programas y proyectos que busquen el fortalecimiento de la cultura en Santiago
          de Cali.
        </p>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="./avatar-finn.png">
        </ion-avatar>
        <p class="prop">
          Apoyaremos los programas y proyectos que busquen el fortalecimiento de la cultura y del deporte en Santiago de
          Cali.
        </p>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="./avatar-finn.png">
        </ion-avatar>
        <p class="prop">
          Buscaremos inversión para el mejoramiento de Puestos de Salud, Juntas de Acción Comunal, escenarios
          deportivos, entre otros.
        </p>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="./avatar-finn.png">
        </ion-avatar>
        <p class="prop">
          Solicitaremos al nuevo Alcalde la inversión y terminación de los proyectos aprobados en el programa 'Mi
          Comunidad es Escuela'. </p>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="./avatar-finn.png">
        </ion-avatar>
        <p class="prop">
          Solicitaremos a la Administración Municipal la continuidad del Programa de Atención Psicosocial en las
          instituciones educativas.
        </p>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="./avatar-finn.png">
        </ion-avatar>
        <p class="prop">
          Buscaremos que los jóvenes caleños se preparen para las pruebas del Estado y puedan ser beneficiarios de los
          programas que ofrece el Gobierno Nacional.
        </p>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="./avatar-finn.png">
        </ion-avatar>
        <p class="prop">
          Solicitaremos en control político mayor vigilancia policiva y videocámaras de seguridad en las afueras y
          cuadras aledañas a las instituciones educativas de la ciudad.
        </p>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="./avatar-finn.png">
        </ion-avatar>
        <p class="prop">
          Promoveremos la aprobación y puesta en marcha de la Comisión Legal de Equidad de Género en el Concejo
          Municipal, la actualización de la Política Pública de Mujeres y programas que garanticen la prevención de
          violencias de género.
        </p>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="./avatar-finn.png">
        </ion-avatar>
        <p class="prop">
          Apoyaremos las iniciativos que busquen el fortalecimiento y desarrollo de la movilidad de la ciudad.
        </p>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="./avatar-finn.png">
        </ion-avatar>
        <p class="prop">
          Vigilaremos la continuidad de los Corregimientos en la estrategias TIOS (Territorio de Inclusón y
          Oportunidades) y la adecuada inserción de éstos en la reglementación de Cali Distrito.
        </p>
      </ion-item>
    </ion-list>
  </div>
  <div class="vota">
      <p class="prop">
        <b>Apóyanos con tu voto para seguir trabajando</b>
        </p>
      <img src="../../assets/images/Vota3.PNG" />
    </div>
</ion-content>